{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in to Facebook</title>
        <link rel="icon" href="img/facebook tab logo.png">
</head>
<body bgcolor="#edf0f5">
        <table width="100%" cellspacing="0" border="0">
                <tr bgcolor="#3b5998">
                        <td width="55%">
                             <img src="{% static 'images\logo facebook.png' %}" width="220">   
                        </td>
                        <td>
                            <input type="text" size="20">
                            <input type="password" size="20">
                            <input type="button" value="LOGIN">    
                        </td>
                </tr>
                <tr hight="600px">
                        <td valign="top" align="center"> <br><br><br>
                                <table width="90%" cellspacing="0" border="0">
                                        <td>
                                                <h2> <font face="verdana">Connect with friends and the world <br> arround you on Facebook.</font> </h2>
                                        </td>
                                <tr>
                                        <td> <img src="{% static 'images\news.png' %}" width="50"> <font face="verdana"> see photos and updates from friends in News Feed <br><br> </font>
                                             <img src="{% static 'images\timeline.png' %}" width="50"> <font face="verdana"> share what's new in your life on your Timeline <br><br> </font>
                                             <img src="{% static 'images\share.png' %}" width="50"> <font face="verdana"> Find more of what you're looking for Graph Search </font>
                                        </td>
                                </tr>
                                </table>
                        </td>
                        <td valign="top" align="center">
                                <h2 align="center">Sign Up</h2>
                                <br>
                                <table width="90%" cellspacing="10" border="0">
                                        <tr>
                                                <td>
                                                        <input type="text" placeholder="First Name" size="25" height="30px"> 
                                                </td>
                                                <td>
                                                        <input type="text" placeholder="Last Name" size="30" height="30px"> 
                                                </td>
                                        </tr>
                                        <tr>
                                                <td colspan="2" aria-setsize="60"> <input type="text" placeholder="Mobile Number" size="60" height="40px"> </td>
                                        </tr>
                                        <tr>
                                                <td colspan="2"> <input type="text" placeholder="E-mail" size="60" height="40px"> </td>
                                        </tr>
                                        <tr>
                                                <td colspan="2"> <input type="password" placeholder="Password" size="60" height="40px"> </td>
                                        </tr>
                                        <tr>
                                                <td colspan="2"> 
                                                        <font face="verdana" size="1">By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy, <br> including our Cookie Use. </font> 
                                                </td>
                                        </tr>
                                        <tr>
                                                <td> <img src="{% static 'images\Sign-Up-Now.png' %}" width="150px"> </td>
                                        </tr>
                                </table>
                        </td>
                </tr>   
        </table>
        <h1 align="center">Hi...................</h1>
        <h1 align="center">Hi..............</h1>
</body>
</html>